id_rsa*
id_dsa*
*.tmp
*.tmp/

.claude.json
.claude/debug/
.claude/file-history/
.claude/cache/
.claude/paste-cache/
.claude/plans/
.claude/plugins/cache/
.claude/plugins/marketplaces/claude-plugins-official/
.claude/bash-command-log.txt
.claude/ide/
.claude/projects/
.claude/session-env/
.claude/sessions/
.claude/shell-snapshots/
.claude/statsig/
.claude/todos/
.claude/tasks/
.claude/usage-data/
.claude/teams/
.claude/history.jsonl
.claude/.update.lock
.claude/.credentials.json
.claude/stats-cache.json
.claude/settings.local.json
.claude/plugins/known_marketplaces.json
.claude/plugins/installed_plugins.json

.codex/log/
.codex/sessions/
.codex/archived_sessions/
.codex/auth.json
.codex/history.jsonl
.codex/tmp/
.codex/sqlite/
.codex/vendor_imports/
.codex/config.toml
.codex/internal_storage.json
.codex/version.json
.codex/.codex-global-state.json
.codex/.personality_migration
.codex/models_cache.json
