[user]
    email = mkataigi@gmail.com
	name = Makoto Kataigi
	signingkey = 5BC521DA
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore  # globalな.gitignoreの指定
    autocrlf = input # CRLFを自動変換
[marge]
    tool = vimdiff
[push]
    default = tracking
[alias]
    st = status
    sh = show
    so = remote show origin
    ft = fetch
    up = pull --rebase
    rbm = rebase master
    ad = add
    ci = commit -a
    cam = commit -a --amend
    co = checkout
    br = branch
    ba = branch -a
    bm = branch --merged
    bn = branch --no-merged
    wc = whatchanged
    ls = log --stat
    lp = log -p
    la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
    lr = log origin
    oneline = log --pretty=oneline
    ranking = shortlog -s -n --no-merges
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    dm = diff master
    dw = diff --color-words
    dc = diff --cached
    ds = diff --staged
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    d10 = diff HEAD~~~~~~~~~~
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    gr = grep
    gn = grep -n
[gpg]
	program = gpg2
